{
  "bot_name": "bot-l",
  "hosts": [
    {
      "value": "local",
      "name": "hosta (local)"
    },
    {
      "value": "hostb"
    },
    {
      "value": "host-c"
    },
    {
      "value": "host-e"
    },
    {
      "value": "host-g",
      "name": "air m1"
    }
  ],
  "defaults": {
    "model": "fir",
    "thinking": "medium",
    "host": "local",
    "hide_thinking": false,
    "show_plans": true,
    "show_tools": true
  }
}
